@media print {
    .col-print-1 {
        width: 8%;
        float: left;
    }

    .col-print-2 {
        width: 16%;
        float: left;
    }

    .col-print-3 {
        width: 25%;
        float: left;
    }

    .col-print-4 {
        width: 33%;
        float: left;
    }

    .col-print-5 {
        width: 42%;
        float: left;
    }

    .col-print-6 {
        width: 50%;
        float: left;
    }

    .col-print-7 {
        width: 58%;
        float: left;
    }

    .col-print-8 {
        width: 66%;
        float: left;
    }

    .col-print-9 {
        width: 75%;
        float: left;
    }

    .col-print-10 {
        width: 83%;
        float: left;
    }

    .col-print-11 {
        width: 92%;
        float: left;
    }

    .col-print-12 {
        width: 100%;
        float: left;
    }

    .mood {
        display: block;
        min-width: 80px !important;
        margin: 0 2px 2px;
        color: white;
    }
}

.dataTables_length select {
    width: 70px;
}
.hiddenTable {
    display: none;
}

.empty-state {
    width: 100%;
    margin: 40px auto;
}

.empty-state__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-state__icon {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    justify-content: center;
    background-color: #f7fafc;
}

.empty-state__message {
    color: #567c69;
    font-size: 2em;
    font-weight: 500;
    margin-top: 0.85rem;
}

.dailyreportimg img{
    width: 4em;
    padding: 5px;
    margin-right: 10px;
}

.floatLeft{
    float: left;
}
.floatRight{
    padding-right: 2px;
}

#warningDailyStatusReportDiv{
    background-color: #faebd7;
    padding-bottom: 5px;
    min-height: 120px;
}

#warningDailyStatusReportDiv a{
    color: #ff8000;
}


#blockDailyStatusReportDiv{
    background-color: #ffe0dd;
    padding-bottom: 5px;
    min-height: 120px;
}

#blockDailyStatusReportDiv a{
    color: #b02121;
}

#warningDailyStatusReportDiv h4{
    background-color: #eec8a0;
    display: block;
    line-height: 1em;
    margin: 2px;
    padding: 3px;
    color: white;
}

#blockDailyStatusReportDiv h4 {
    background-color: #f15e5e;
    display: block;
    line-height: 1em;
    margin: 2px;
    padding: 3px;
    color: white;
}

#missingDailyStatusReportDiv {
    direction:ltr;
    background-color: #0d787c38;
    padding-bottom: 5px;
    min-height: 120px;
}

#missingDailyStatusReportDiv h4 {
    background-color: #008b8b;
    display: block;
    line-height: 1em;
    margin: 2px;
    padding: 3px;
    color: white;
}

#missingDailyStatusReportDiv h4 span {
    font-size: .6em;
}

#missingDailyStatusReportDiv a {
    color: #008b8b;
}

.report_scrollable{
    direction: ltr;
    overflow-y: scroll;
    max-height: 85px;
}

.report_scrollable li{
    display: block;
    width: 100%;
}

.report_scrollable::-webkit-scrollbar-thumb {
    background: #707d849c;
    border-radius: 0;
    margin-left: 50px;
    -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 20%);
}
.report_scrollable::-webkit-scrollbar-track {
    border-radius: 0;
    background-clip: padding-box;
    scroll-margin-left: 50px;
    -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 20%);
}

.mood{
    display: block;
    min-width: 100px;
    margin: 0 2px 2px;
    color: white;
}

.mood-title{
    color: white;
    display: block;
    min-width: 80px;
    line-height: 1em;
}

.mood-title h4{
    display: block;
    line-height: 1em;
    margin: 2px;
    padding: 3px;
    color: white;
}

.mood-empty {
    background-color: #E6E6E6;
}
.mood-fantastic{
    background-color: #ffdc9f;
}
.mood-great{
    background-color: #fdcf73;
}
.mood-okey{
    background-color: #ffc759;
}
.mood-down{
    background-color: #59d8ff;
}
.mood-depressed{
    background-color: #63a7ff;
}
.mood-angry{
    background-color: #ff8080;
}

.mood-empty h4{
    background-color: #8c8c8c;
}
.mood-fantastic h4{
    background-color: #d2b484;
}
.mood-great  h4{
    background-color: #bb9753;
}
.mood-okey h4{
    background-color: #c09542;
}
.mood-down h4{
    background-color: #43a4c2;
}
.mood-depressed h4{
    background-color: #4574b0;
}
.mood-angry h4{
    background-color: #b05858;
}

.moodvalue {
    font-size: 1.75em;
    font-weight: 600;
    height: 100%;
    vertical-align: middle;
    margin-top: 0.5em;
    filter: drop-shadow(1px 1px 1px black);
}

.schedule-ontime {
    color: #1b4d00;
    font-weight: 400;
    text-transform: capitalize;
}

.schedule-delayed {
    color: #ff8000;
    font-weight: 400;
    text-transform: capitalize;
}

.schedule-blocked {
    color: #b02121;
    font-weight: 400;
    text-transform: capitalize;
}
