div.p_login #loginform .form-signin .input-group #user_icon {
	background-image: none, url('../../../../../themes/SuiteP/images/login_bg.svg');
	background-position: 3px 3px;
}

div.p_login #loginform .form-signin .input-group #password_icon {
	background-image: none, url('../../../../../themes/SuiteP/images/login_bg.svg');
	background-position: 3px -57px;
}

div.p_login #loginform .form-signin .input-group #user_icon,
div.p_login #loginform .form-signin .input-group #password_icon {
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	margin-right: 2px;
}

div.p_login #loginform .form-signin .input-group input {
	background-image: unset;
	background-position: unset;
	background-repeat: unset;
	padding: unset;
	padding-left: 8px;
	width: 330px !important;
	min-width: unset;
	margin: 0;
}

div.p_login #loginform .form-signin .input-group {
	background-color: white;
	display: flex;
}