.td_price{
    text-align: right;
}

/*
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none !important;
}

.sorting, .sorting_asc, .sorting_desc {
    background : none !important;
}*/

.td_defecto{
    min-width: 65px!important;
    padding: 8px 3px!important;
}

.td_center{
    text-align: center;
}

.name_main{
    min-width: 170px!important;
}

.column_total{
    width: 50px!important;
}


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#div_loading {
    /* animation: flip .4s infinite; */
    justify-content: center;
    left: 43%;
    position: absolute;
    top: 150%;
    z-index: 50;
}

@keyframes flip {
    0%,50% {
        transform: rotateX(360deg) 
    }
}

.background-loading {
    align-content: space-around;
    background-color: #038889b3;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 15px;
}