.jobApplicationPanelDetailsSelector{
    margin-top: 5px !important;
}

.jobApplication-selectables-view-row{
    margin: 0 0 8px 0;
    min-width: 48px;
    min-height: 30px;
}

#selectCandidateWrapper {
    margin: 8px;
}

#selectJobOfferWrapper {
    margin: 8px;
}

#candidateDataPanel h3 {
    display: block;
}

#candidateDataPanel div.panel-content {
    display: none;
}

#jobofferDataPanel h3 {
    display: block;
}

#jobofferDataPanel div.panel-content {
    display: none;
}

hr.divider {
    border-color: rgba(129, 124, 141, 0.3) !important;
    border-bottom: 1px solid;
    height: 0px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-input {
    min-height: 33px;
    border: 1px solid rgba(129, 124, 141, 0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 8px 8px 6px;
    width: 95%;
}

.user-input[type=title]{
    font-family: Lato, Lato, Arial, sans-serif;
    font-size: x-large;
    border: none;
}

.ApplicationRatingBase{ background: linear-gradient( 87deg ,#2dce89,#2dcecc) !important; }
.ApplicationRatingActive { background: linear-gradient( 87deg ,#11cdef,#1171ef) !important; }
.ApplicationRatingWarning { background: linear-gradient( 87deg ,#fb6340,#fbb140) !important; }
.ApplicationRatingExpired { background: linear-gradient( 87deg ,#f5365c,#f56036) !important; }
.boxRating {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px;
    border-style: solid;
    background-size: auto !important;
    padding: 15px;
    margin-bottom: 7px;
    border-radius: 5px;
}
.boxRating p { font-size: 1.2em; }

.ratingAreaContainer {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.select2-dropdown{
    z-index: 1;
}