.ApplicationRatingBase{ background: linear-gradient( 87deg ,#2dce89,#2dcecc) !important; }
.ApplicationRatingActive { background: linear-gradient( 87deg ,#11cdef,#1171ef) !important; }
.ApplicationRatingWarning { background: linear-gradient( 87deg ,#fb6340,#fbb140) !important; }
.ApplicationRatingExpired { background: linear-gradient( 87deg ,#f5365c,#f56036) !important; }

.whiteBold {
    font-size: 1em;
    padding-top: 3px;
    font-weight: bold;
    color: white;
    padding-left: 5px;
}

.kanbanTitle {
    background-color: #989898;
    text-align: center;
    padding: 2px 0px;
    color: white;
}

.kanban-items{
    min-height: 400px;
}

.kanban-col {
    width: 250px;
    min-height: 400px;
    margin: 1px;
    border: 1px solid #5e5e5e;
    float: left;
}

.kanbanContainer{
    margin: 4px 4px;
    padding: 4px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 500px;
}

.kanbanScroll{
    width: max-content;
}

*[draggable=true] {
    float: left;
    min-width: 96%;
    border: 1px solid #5e5e5e;
    margin: 2%;
    min-height: 6em;
    background-color: white;
    -moz-background-size: 1px 8px;
    padding: 2%;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0px #00000070;
}

.cardTitle {
    font-weight: bold;
    white-space: normal;
}

.cardTitle i{
    float: right;
}

#viewKanbanJobApplications_filter label{
    float: right;
}

#viewKanbanJobApplications_filter input[type=search] {
    background: #fff;
    padding: 5px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
}

.container_card[data-closed='1']{  
    background-color: #D5F5E3;
}

/* The Modal (background) */
.kanbanModal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.kanbanModalBox {
    max-width: 70%;
    background-color: #FFF;
    margin: 15% auto 0;
    padding: 2em;
}

/* The Close Button */
.close {
    color: #444;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.actionCardHeader h2 {
    font-size: 1.5em;
}

.actionCardHeader {
    display: flex;
    align-items: center;
    background-color: #a5e8d6;
    height: 3em;
    margin: -3em -2em 1em;
    padding: 1em 1em 1em;
    position: static;
}

span.close {
    margin-top: -1.2em;
    margin-right: -0.5em;
}

.scheduleActionSlot {
    margin: 0;
    min-height: 175px;
    padding: 5px;
}

div.padding_container div.row:last-child {
    display: flex;
    justify-content: center;
    align-items:center;
}

.scheduleActionSlot input[type=button] {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.scheduleActionSlot:not(:last-child) {
    border-right: 1px solid #606060;
}

.jOfferTitle {
    overflow: hidden;
    max-width: 225px;
}

.ui-timepicker-container {
    z-index: 999999!important;
}

.step-error {
    background-color: darkcyan;
    color: white;
    margin-bottom: 40px;
}

/* Start section is to add the application type filter */
.header-kanban__jobApplications {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-left: 7px;
}

.header-kanaban__hideClosed {
    display: flex; 
    align-items: normal;
}

.header-kanbab__applicationType {
    align-items: center; 
    display: flex; 
    flex-direction: column;
}
/* End section is to add the application type filter */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    .kanbanScroll{
        width: fit-content;
    }

    .kanban-col {
        width: 250px;
        min-height: 150px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

.accounts_related{
    display: none;
}

span.select2-container.select2-container--default.select2-container--open{
    z-index: 99;
}